NET "clk" LOC = "V10";
NET "inc" LOC = "B8";
NET "rst" LOC = "A8";
NET "switch" LOC = "T5";
NET "num[7]" LOC = "T17";
NET "num[6]" LOC = "T18";
NET "num[5]" LOC = "U17";
NET "num[4]" LOC = "U18";
NET "num[3]" LOC = "M14";
NET "num[2]" LOC = "N14";
NET "num[1]" LOC = "L14";
NET "num[0]" LOC = "M13";
NET "loc[0]" LOC = "N16";
NET "loc[1]" LOC = "N15";
NET "loc[2]" LOC = "P18";
NET "loc[3]" LOC = "P17";
